*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    line-height: 2;
}

button, a:hover{
    opacity: 0.8;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: #bfd200;
    border-radius: 0.5rem;
}
